<div class="center flex-column mt-3 mx-3">
  <h1>Welcome to Blog App</h1>
  <% @users.each do |user| %>
    <div class="d-flex w-50 w-100-mobile mb-3">
       <img src="<%= user.photo %>"/>
      <div class="d-flex flex-column align-items-end justify-content-center w-100 bg-light p-2">
        <h2 class="align-self-start user_detail_div"><%= link_to user.name, user_path(user.id) %></h2>
        <p>
          Number of posts
          <span class="badge bg-secondary">
            <%= user.posts_counter %>
          <span>
        </p>
      </div>
    </div>
  <% end %>
</div>