<%= render 'authors/user', user: @user %>
<% @posts.each_with_index { |post_, index_| %>
  <%= render partial: 'post', locals:{post: post_, index:index_, index_view: true, show_comment: true} %>
<% } %>
<% if author_posts_more_than?(@user) %>
  <div id="posts-pagination" class='text-center mt-3'>
  <% (1..@page_amount).each { |i| %>
    <a href='<%= "#{author_posts_path(:author_id => @user.id)}?page=#{i}" %>'><%= i %></a>
  <% } %>
  </div>
<% end %>