.user_container {
  margin: 2em 25em;
}

.user_title_txt {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

.user_field {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user_show_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo_field {
  border: 3px solid #333;
  padding: 50px;
  margin: 20px;
}

.user_desc {
  border: 3px solid #333;
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.post_counter_field {
  display: flex;
  justify-content: end;
  font-size: 16px;
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.user_name {
  font-size: 20px;
  color: #333;
}

.user_name:hover {
  color: rgb(52, 52, 161);
}

.user_bio {
  border: 3px solid #333;
  padding: 10px;
  margin: 20px;
  width: 95%;
}

.post_field {
  border: 3px solid #333;
  padding: 10px;
  margin: 20px;
  width: 95%;
}

.post_btn {
  display: flex;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  background-color: rgb(69, 69, 189);
  border: none;
  border-radius: 5px;
}

.post_btn > a {
  color: #efefef;
  font-size: 15px;
}

.post_btn:hover {
  background-color: rgb(53, 53, 180);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.span_field {
  display: flex;
  justify-content: end;
  font-size: 16px;
  font-weight: 700;
}

.comment {
  padding: 5px;
}

.like {
  padding: 5px;
}

.btn_post_field {
  display: flex;
  justify-content: center;
}

.all_post_btn {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination_btn {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(53, 53, 180);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.pagination_btn:hover {
  background-color: rgb(69, 69, 189);
  color: #efefef;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.post_show_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_show_cont {
  margin-top: 40px;
}

.post_show {
  border: 3px solid #333;
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.span_comment_field {
  border: 3px solid #333;
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.span_comment_fieldII {
  border: 3px solid #333;
  padding: 10px;
  margin: 20px;
  width: 95%;
}

@media (max-width: 600px) {
  .user_container {
    margin: 0em 2em;
  }
  
  .user_title_txt {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }
  
  .user_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .photo_field {
    border: 3px solid #333;
    padding: 40px;
    margin: 10px;
  }
  
  .user_desc {
    border: 3px solid #333;
    padding: 5px;
    margin: 10px;
    width: 100%;
  }
  
  .post_counter_field {
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: 700;
  }

  .user_bio {
    border: 3px solid #333;
    padding: 5px;
    margin: 0px;
    width: 95%;
    margin-top: 30px;
  }
  
  .post_field {
    border: 3px solid #333;
    padding: 10px;
    margin: 0px;
    width: 92%;
    margin-top: 10px;
  }

  .post_show {
    border: 3px solid #333;
    padding: 5px;
    margin: 0px;
    width: 100%;
  }
  
  .span_comment_field {
    border: 3px solid #333;
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
    width: 100%;
  }
}